a{ color:#FFFFFF; text-decoration:none;}
a:hover{ color:#F00; text-decoration:underline;}
a:active{ color:#FFFFFF;}
body{
	background:url(index_background.jpg);
	background-size=cover;
}
div{
	
}
td{
	color:#FFFFFF;
}