a{ color:#000000; text-decoration:none;}
a:hover{ color:#F00; text-decoration:underline;}
a:active{ color:#000000;}




img{
	width:300px;height:300px;
	display: table-cell;
	vertical-align: middle;
    text-align: center;
}
h3{
	 text-align:center;
}